img{
    height: 200px;
    width: auto;
    border-color: aqua;
    border-radius: 50px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: tomato;
}

body{
    align-content:center;
}